name: gitleaks

on: [push, pull_request, workflow_dispatch]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: gitleaks-action with config
      uses: zricethezav/gitleaks-action@master
      with:
        # test custom path for config
        config-path: gitleaks.toml
    - name: gitleaks-action with defaults will fail
      uses: zricethezav/gitleaks-action@master
